<div class="card">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required />
    </div>
    <div class="form-row">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>

    <button type="submit">Login</button>
    <button type="submit" (click)="onRegister()" >Register</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
