.investment-container {
    padding: 16px;
  }
  
  .top-card {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }
  
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }
  
  .card {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }
  .delete{
    color: red;
    padding: 3px;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 5px;
  }

  .delete:hover{
    background-color: red;
    color: white;
  }

  .update{
    color: green;
    padding: 3px;
    border: 1px solid green;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  .update:hover{
    background-color: green;
    color: white;
  }